.container .gallery a img{width:100%;position:relative;-webkit-transition:-webkit-transform .15s ease;-moz-transition:-moz-transform .15s ease;-o-transition:-o-transform .15s ease;-ms-transition:-ms-transform .15s ease;transition:transform .15s ease;}
.container .gallery a:hover img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);z-index:5;}
.align-center{text-align:center;}
@media (max-width:480px){.container .gallery a{width:50%;}
}